<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <style></style>

    <body>
        <p>Dear [%managerName%],</p>
        <p>Your employee made a leave application, please check detail information below:</p>
        <p>Employee: [%employeeName%]</p>
        <p>Leave from time: [%startTime%], to: [%endTime%]</p>
        <p>Total days off: [%totalLeaveDays%]</p>
        <p>Leave type: [%leaveType%]</p>
        <p>Reason: [%reason%]</p>
        <p>Status: [%leaveStatus%]</p>
        <p> Flowiee.</p>
    </body>
</html>